{{$ demo.scenes.templates.listMatrix.listMatrix }}

<div class="s-list-matrix__title">Static base-list matrix</div>

{{% demo.widgets.MatrixList, {itemClass: demo.widgets.BaseListItem, isVertical: true}, listMatrix }}

<div class="s-list-matrix__amount">
	Rows: <span class="s-list-matrix__amount-number" data-export-id="{{@rows}}"></span>
	Columns: <span class="s-list-matrix__amount-number" data-export-id="{{@columns}}"></span>
</div>
