<div class="w-player-progress">
	<div class="zb-clear">
		<div class="w-player-progress__time" data-export-id="{{@currentTime}}">00:00:00</div>
		<div class="w-player-progress__duration" data-export-id="{{@duration}}">01:00:00</div>
	</div>
	<div class="w-player-progress__bar">
		<div class="w-player-progress__progress" style="width: 30%" data-export-id="{{@progress}}"></div>
	</div>
</div>
