<div class="p-simple__title" data-export-id="{{@title}}"></div>
<div class="p-simple__message" data-export-id="{{@message}}"></div>
<div class="p-simple__buttons" data-export-id="{{@buttonsContainer}}"></div>