{{$ demo.scenes.templates.popUps.popUps }}

<div class="s-pop-ups__title">Pop-ups</div>

<div class="s-pop-ups__wrapper">
	{{% demo.widgets.Button, {}, alertBtn }}
	{{% demo.widgets.Button, {}, confirmBtn }}
	{{% demo.widgets.Button, {}, selectBtn }}
</div>
