{{$ demo.scenes.templates.scrollList.scrollList }}
{{* this.count number }}

<div class="s-list-static__title" data-export-id="{{@title}}"></div>

{{% zb.ui.ScrollList, {itemClass: demo.widgets.BaseListItem}, scrollList }}

<div class="s-list-static__amount">
	Elements amount: <span class="s-list-static__amount-number" data-export-id="{{@count}}">{{- this.count }}</span>
</div>
