{{$ demo.scenes.templates.listStatic.listStatic }}
{{* this.count number }}

<div class="s-list-static__title" data-export-id="{{@title}}"></div>

{{% zb.ui.BaseList, {options: {padding: 5, lineSize: 1}, itemClass: demo.widgets.BaseListItem}, baseList }}

<div class="s-list-static__amount">
	Elements amount: <span class="s-list-static__amount-number" data-export-id="{{@count}}">{{- this.count }}</span>
</div>
