<div class="s-list-matrix__title" data-export-id="{{@title}}"></div>

<div class="s-list-matrix__slider-wrapper" data-export-id="{{@sliderWrapper}}"></div>

<div class="s-list-matrix__amount">
	Rows: <span class="s-list-matrix__amount-number" data-export-id="{{@rows}}"></span>
	Columns: <span class="s-list-matrix__amount-number" data-export-id="{{@columns}}"></span>
</div>
