{{$ demo.scenes.templates.customInput.customInput }}

<div class="s-custom-input__title">Custom input - URL</div>
<div class="s-custom-input__input-wrapper" data-export-id="{{@inputWrap}}">
	<div class="s-custom-input__input _not-changed" data-component="{{% zb.ui.DivInput, {}, input }}"></div>
</div>

{{% demo.widgets.Keyboard, {}, keyboard }}
