/* HelpBar widget
*******************************/

.w-help-bar {}
	.w-help-bar .w-help-bar-item {
		vertical-align: middle;
		display: inline-block;
		float: none;
		position: relative;
		margin-left: 14px;
	}
