{{$ demo.scenes.templates.customInputExtended.customInputExtended }}

<div class="s-custom-input__title">Custom input</div>
<div class="s-custom-input__input-wrapper" data-export-id="{{@inputWrap}}">
	<div class="s-custom-input__input" data-component="{{% zb.ui.DivInput, {}, input }}"></div>
</div>

{{% demo.widgets.KeyboardExtended, {}, keyboard }}
