{{+ import Button from "demo/widgets/button/button"; }}

<div class="s-pop-ups__title">Pop-ups</div>

<div class="s-pop-ups__wrapper">
	{{% Button, {}, alertBtn }}
	{{% Button, {}, confirmBtn }}
	{{% Button, {}, selectBtn }}
</div>
