/* PopUps scene
*******************************/

.s-pop-ups {}
	.s-pop-ups__title {
		font-size: 27px;
		font-weight: bold;
		margin-left: 83px;
	}
	.s-pop-ups__wrapper {
		font-size: 0;
		margin-top: 17px;
		margin-left: 80px;
	}
	.s-pop-ups .w-button {
		width: 141px;
		font-size: 22px;
		font-weight: bold;
		padding: 15px 0 11px;
		margin-left: 33px;
	}
	.s-pop-ups .w-button:first-child {
		margin-left: 0;
	}
