{{$ demo.scenes.templates.arrowList.arrowList }}
{{* this.count number }}

<div class="s-list-static__title" data-export-id="{{@title}}"></div>

<div class="s-list-static__slider-wrapper">
	{{% zb.ui.ArrowList, {options: {padding: 5, lineSize: 1}, itemClass: demo.widgets.BaseListItem}, arrowList }}
</div>

<div class="s-list-static__amount">
	Elements amount: <span class="s-list-static__amount-number" data-export-id="{{@count}}">{{- this.count }}</span>
</div>
