{{$ demo.widgets.templates.baseListItem.baseListItem }}
{{* this.title string }}

<div class="w-base-list-item">
	<div class="w-base-list-item__wrap">
		<div class="w-base-list-item__title">{{- this.title }}</div>
	</div>
</div>
