/* ScrollList scene
*******************************/

.s-list-scroll {}
	.s-list-scroll .w-zbui-base-list__wrap {
		padding-bottom: 35px;
	}
	.s-list-scroll .w-zbui-scroll-bar {
		height: 3px;
		background-color: #787878;
		right: 0;
		left: 20px;
		border-radius: 5px;
	}
	.s-list-scroll .w-zbui-scroll-bar__thumb {
		background-color: #fff;
	}
